<!DOCTYPE html>
	<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- My CSS -->
	<link rel="stylesheet" href="../css/style.css">
	<style>
		/*.verticalAlign{vertical-align: middle !important;}*/
		tr{opacity: 88%;}
		th,td{vertical-align: middle !important;}
		#linkKaNazad{margin: auto !important; display: block; margin-top: 6px; background-color: black; opacity: 0.6;}
		#linkKaHomePage{margin: auto; display: block; width: fit-content; margin-top: 0px; font-size: 20px; color: white;}
		tbody{line-height: 1 !important; opacity: 0.9 !important; background-color: white !important;}
		td{text-align: left !important;}
		tr{border-style: hidden !important;}
		#skloniPadding{padding: 0px !important;}
		td{padding: 0px; !important;}
		p{margin-bottom: unset;}

		li{padding: 1px;}
	</style>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body> <!--style="background: url('/img/global-health-background5.jpg') no-repeat center center fixed">-->

<!--<span th:object="${country}"> <h1 th:text="${country.country}" class="descriptionText"/-->
<!--<h3 class="descriptionText" style="color:blue">Covid Statistics:</h3>--><!--/span-->
<!--h1 id="descriptionText"> ${city.cityName} Weather for today:</h1-->

	<!-- ILI OVAKO -->
	<ul class="nav nav-pills nav-fill">
		<li class="nav-item">
			<a th:href="@{../}" class="nav-link active">Top Rated</a>
		</li>
		<li class="nav-item">
			<a th:href="@{../newTop40PopularMovies}" class="nav-link active">Popular</a>
		</li>
		<li class="nav-item">
			<a th:href="@{../upcoming40Movies}" class="nav-link active">Upcoming</a>
		</li>
		<li class="nav-item">
			<a th:href="@{../nowPlaying40Movies}" class="nav-link active">Now Playing</a>
		</li>
	</ul>

	<!-- ILI OVAKO -->
	<!--<a th:href="@{../}" class="btn btn-primary" id="linkKaNazad">Top Rated</a>
	<a th:href="@{../newTop40PopularMovies}" class="btn btn-primary" id="linkKaNazad">Popular</a>
	<a th:href="@{../upcoming40Movies}" class="btn btn-primary" id="linkKaNazad">Upcoming</a>
	<a th:href="@{../nowPlaying40Movies}" class="btn btn-primary" id="linkKaNazad">Now Playing</a>-->

		<!-- OVO JE HOME PAGE MOVIES APLIKACIJE, PO DEFAULTU CU IZBACITI SVE NAJPOPULARNIJE FILMOVE  -->
	<table class="table table-bordered table-striped" style="width:100%; font-weight:400;" id="table">
		<thead class="thead-dark">
			<tr>
				<th class="verticalAlign" th:style="'width: 0% !important;'">Movie ID</th>
				<th class="verticalAlign" th:style="'width: 0% !important;'">Popularity</th>
				<th class="verticalAlign" th:style="'width: 29% !important;%'">Movie Description</th>
				<th class="verticalAlign" th:style="'width: 2% !important;'">Release Date</th>
				<th class="verticalAlign" th:style="'width: 0% !important;'">Average Vote</th>
				<th class="verticalAlign" th:style="'width: 0% !important;'">Total Votes</th>
				<th class="verticalAlign" th:style="'width: 5% !important;'">Title</th>
				<th class="verticalAlign" th:style="'width: 4% !important;'"></th>
			</tr>
		</thead>

		<tbody style="background-color: papayawhip; opacity: 0.9;">
		<!--<tr th:each="tempCustomer : ${theCustomers}"><!-- iz CustomerController kontrolera -->
		<!--<tr th:object="${articles}"-->
		<tr th:each="topRatedMovie : ${topRatedMovieList}">

			<td th:text="${topRatedMovie.id}"/>
			<td th:text="${topRatedMovie.popularity}"/>
			<td>
				<p th:text="${topRatedMovie.movieOverview}"/>
			</td>
			<!--<td><a th:href="${article.urlOfArticle}" th:text="${article.urlOfArticle}" />URL</td>-->	<!-- KADA HOCU DA PROSLEDIM PARAMETAR -->
			<!--<td th:href="${article.urlOfArticle}" th:text="${article.urlOfArticle}" />URL</td>-->

			<!--<td th:href="${article.urlOfArticle}" >URL</td>-->
			<!--<td>									<!-- otvori na novom tabu -->
				<!--<a th:href="${article.urlOfArticle}" th:target="_blank">link</a>	<!-- th:text="${article.urlOfArticle}" -->
			<!--</td-->

			<td th:text="${topRatedMovie.releaseDate}"/>
			<td th:text="${topRatedMovie.movieVotesAverage}"/>
			<td th:text="${topRatedMovie.numberOfPeopleVoted}"/>

			<!--<td th:text="${article.content}" /-->
			<td>
				<p th:text="${topRatedMovie.title}"/>
			</td>

			<td id="skloniPadding">
				<img th:src="${topRatedMovie.moviePosterPath}" class="img-thumbnail"  th:style="'max-width: 100%; max-height: 100%;'"/>			<!-- <img th:src="@{/resources/images/Picture.png}" /> -->
			</td>
			<!--<img th:src="@{${src}}"/-->
			<!-- <div th:style="'background:url(' + @{/<path-to-image>} + ');'"></div> -->

			<!-- Add update button/link -->
			<!--<td>
				<!--<a th:href="@{/customers/showFormForUpdate(customerId=${tempCustomer.customerId})}" class="btn btn-info btn-sm">Update</a>

				<!-- Add delete button/link -->

			<!--<a th:href="@{/customers/showFormForDelete(customerId=${tempCustomer.customerId})}" class="btn btn-danger btn-sm" onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">Delete</a>-->
			<!--/td-->
		</tr>
		</tbody>
	</table>

	<!--<a th:href="@{../covid/homeCountryCovidDetails}" class="btn btn-primary" id="linkKaNazad">Check Covid Details For Another Country?</a>-->
	<!--<a th:href="@{../}" id="linkKaHomePage">Home Page</a>-->


<!--form action="#" th:action="@{/customers/save}"
	  th:object="${customer}" method="POST">
</form-->


</body>
</html>
